*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}
nav{
          background-color: rgb(188, 188, 188);
          width: 100%;
          height: 60px;
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size:20px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;      
}
main{
          margin-top:50px ;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
 }
.box{
           width: 70px;
           height: 70px;
           border: 1px solid black;
           gap: 10px;
           margin: 20px;
           display: flex;
           align-items: center;
           justify-content:  center;
           text-align: center;
           cursor: pointer;
}
.btn{
          margin-top: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
}
input[type="text"]{
          width: 200px;
          height: 30px;
          padding: 5px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;        
}
button{
          width: 80px;
          height: 32px;
          background-color: #505050a2;
          color: white;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-size: 16px;
}
button:hover{
          background-color: #3030309a;
}